*{margin: 0;padding: 0;box-sizing: border-box;}
h2{
  padding: 10px;
  border-bottom: 1px solid #b4b4b4;
  text-align: center;
}
.tabs{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.tab{
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  padding: 10px 20px;
  transition: .3s;
  cursor: pointer;
}
.tab:hover{
  background: rgb(61, 255, 120);
}
.tab.active{
  background: rgb(61, 255, 120);
}
#counter{
  width: 60%;
  margin: auto;
  padding: 20px;
}
#container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px 50px;
  width: 60%;
  margin: auto;
}
.card{
  padding: 20px 5px;
  border: 1px solid #818181;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 10px;
}
.userId{
  font-size: 13px;
  color: #818181;
}
.userName{
  font-weight: bold;
  font-size: 20px;
}
.userClassName{
  color: #3b3b3b;
}
.userStatus{
  border: 1px solid black;
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
}
.userStatus.출석{
  background: rgb(255, 235, 199);
  border:1px solid rgb(255, 136, 0);
  color: rgb(255, 136, 0);
}
.userStatus.지각{
  background: rgb(199, 253, 255);
  border:1px solid rgb(0, 153, 255);
  color: rgb(0, 153, 255);
}
.userStatus.결석{
  background: rgb(196, 196, 196);
  border:1px solid rgb(90, 90, 90);
  color: rgb(90, 90, 90);
}
